$base-font-size: 16px;
$base-line-height: 26px;


//Colors
$undg-blue: #009DE0;
$undg-light-blue: #CDEBF8;
$black: #000;
$white: #fff;
$gray-text: #4A4A4A;
$light-gray-text: #9B9B9B;
$selection-sharer: #0093DB;
